:root {
   --color-1: #d7d7d7;
   --color-2: #2d2d2d;
   --color-3: #646464;
   --color-hi1: #ff6600; /*#666ed4;*/
   --color-hi2: #ff4b4b;
   --font-1: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
   text-align: center;
   color: var(--color-hi2);
   font-family: var(--font-1); 
}

header {
   display: inherit;
   font-family: var(--font-1); 
}

input[type="checkbox"] {
   position: relative;
   top: 2px;
   margin-right: 10px;
   width: 18px;
   height: 18px;
}

header .nav {
   float: left;
   left: 0;
   top: 0;
}

header a {
   color: var(--color-hi2);
   text-decoration: none;
}

.todo-list {
   list-style: none;
   padding-inline-start: 10px;
   /* font-weight: 600; */
   text-rendering: optimizeLegibility;
}

.todo-list .todo-item {
   padding: 1em;
   border-bottom: 1px solid var(--color-1);
   width: 89%;
   color: var(--color-2);
   text-overflow: ellipsis;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   
}

.todo-item.checked {
   text-decoration: line-through;
   text-decoration-color: var(--color-hi1);
   font-weight: 100;
}

.todo-logic {
   display: flex;
   font-size: 1.2em;
   font-variant-caps: petite-caps;
   font-weight: bolder;
   flex-wrap: nowrap;
   -webkit-font-smoothing: antialiased;
}

.todo-logic div {
   margin-left: 0rem;
   margin-right: 1rem;
   text-overflow: ellipsis;
   margin-inline-end: auto;   
}

.todo-display-div {
   font-variant-caps: normal;
   font-size: 0.8rem;
   align-self: center;
   color: var(--color-3);
   font-family: monospace;
}
/* #filter_all, #filter_done, #filter_active  */
.active-filter{
   text-decoration: underline;
   text-decoration-color: var(--color-hi2);
   color: var(--color-2);
}

.inactive-filter {
   text-decoration: none;
   color: var(--color-3);   
}

.add-todo {
   position: absolute;
   bottom: 0;
   left: 0;
   padding: 1rem;
   width: 80%;
   border: 0;
   font-size: x-large;
   border-top: 1px solid var(--color-1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: var(--color-hi2);
   opacity: .7;
}

.add-button {
   position: absolute;
   bottom: .1em;
   right: 0;
   color: var(--color-2);
   font-size: 3em;
}

.remove-button {
   /* margin-left: -2.3rem; */
   float: right;
   padding-left: 0rem;
   padding-right: 0rem;
   text-align: right;
   text-align: end;
   font-size: 1.6rem;
   /* font-weight: lighter;    */
   font-weight: 900;

}

.app_wrapper {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.task_box {
   border-top: thick solid var(--color-2);
}

