/* WDD330 week4 team.css */

:root {
   --border-color: #efefef;

}

h1 {
   text-align: center;
 }
 td {
   width: 100px;
   height: 100px;
 }
 table {
   margin: 5px auto;
   font-size: 5rem;
 }
 .ver {
   border-left: 2px solid var(--border-color);
   border-right: 2px solid var(--border-color);
 }
 .hor {
   border-top: 2px solid var(--border-color);
   border-bottom: 2px solid var(--border-color);
 }

body {
   text-align: center;
}

nav {
   text-align: left;
}