:root {
   --color_bg_1: #303030;
   --color_bg_2: #707070;
   --color_text: #ededed;
   --color_accent_1: #1f6199;
   /* --color_accent_1: #66bae4; */
   --color_accent_1h: #87d2f8;
   --color_accent_2: #d3773a;
   --color_accent_2h: #ff954f;
}

html, body {
   overflow-x: hidden;
}

body {
   background: var(--color_bg_1);
   font-family: sans-serif;
   color: var(--color_text);
}

* {
   transition: all 0.1s ease;
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;
}

section>h1 {
   color: var(--color_accent_2);
}

h3 {
   padding: .6em 1em 0.25em 0em;
   border-top: .2em solid var(--color_accent_2);
}

main {
   margin: 8px;
   padding: 4px;
}

footer {
   background: var(--color_accent_2);
   /* padding: 0.9375em; */
   text-align: center;
   font-size: 0.8125em;
}

a {
   color: var(--color_accent_2h);
}

a:hover {
   background-color: var(--color_accent_1h);
}

.code {
   font-family: 'Courier New', Courier, monospace;
   /* font-size: smaller; */
   white-space: nowrap;
   color: var(--color_bg_1);
   background: var(--color_text);
   overflow-x: auto;
   overflow-y: auto;
   width: 100%;
   font-size: 1rem;
   border-bottom: 5px solid var(--color_accent_1);
}

.note, note {
   font-size: smaller;
   font-style: italic;
   color: var(--color_accent_1h);
}

.x-small {
   font-size: x-small;
}

.big {
   font-size: large;
}

.wide {
   width: max-content;
}

.wide:before {
   content: "";
   position: absolute;
   top: 0;
   bottom: 0;
   left: -9999px;
   right: 0;
   border-left: 9999px solid var(--color_accent_2);
   box-shadow: 9999px 0 0 var(--color_accent_2);
}

.fullbar {
   margin: 0 -9999rem;
   /* add back negative margin value */
   padding: 0.25rem 9999rem;
   /* background: rgba(0, 0, 0, 0.5); */
}


.explanation {
   background-color: var(--color_bg_2);
   font-size: small;
}

.btn {
   background-color: var(--color_accent_2);
   border: .1rem solid var(--color_bg_2);
   color: var(--color_text);
   padding: 4px 15px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
}

.padded {
   padding: 1rem;
}

.sidescroller {
   overflow-x: auto;
   overflow-y: auto;
   width: 100%;
   font-size: .9rem;
   border-bottom: 5px solid var(--color_accent_1);
}

.accent_1 {
   background-color: var(--color_accent_1h);
   color: var(--color_bg_2);
}

.accent_2 {
   background-color: var(--color_accent_2h);
   color: var(--color_bg_1);
}

.color_bg2 {
   color: var(--color_bg_2);
}

select {
   color: var(--color_accent_2h);
}
body>section {
   margin: .5rem;
   padding: .5rem;
   border: .1rem solid var(--color_accent_1h);
   background-color: var(--color_bg_1);
   color: var(--color_text);
}

section>input {
   width: 2rem;
   font-size: .75rem;
}

#dvTotal, #dvSum {
   margin: .4rem;
   color: var(--color_accent_2);
   padding: .5rem .25rem;
   width: 4rem;
   overflow: hidden;
}

.bordered {
   border: .1rem solid var(--color_accent_1);
}

label {
   margin: .25rem 0rem;
}